@font-face {
  font-family: IBMPlexSans;
  src: url(/static/fonts/IBMPlexSans-Regular.ttf);
}

@font-face {
  font-family: IBMPlexSans;
  src: url(/static/fonts/IBMPlexSans-Bold.ttf);
  font-weight: bold;
}

html {
  background-color: #F5F0F6;
  display: flex;
  justify-content: center;
}

body {
  width: 650px;
  display: inline-flex;
  justify-content: left;
  font-family: IBMPlexSans;
}

nav {
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 15px;
}

nav ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
}

#blog-name {
  font-weight: bold;
  font-size: 24px;
}

nav a:link {
  text-decoration: none;
}

nav a:visited {
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
}

nav a:active {
  text-decoration: none;
}

main {
  margin-top: 20px;
  width: 100%;
}
