{% extends "base.html" %}

{% block content_title %}About Me{% endblock %}

{% block content %}
<p>I'm Tom, I built this blog from scratch to stave off my depression, and I hope it will encourage me to learn things and make things.</p>

<p>My favorite hobbies are cooking, programming, and trying to 3D print things.</p>

<p>Here are links to my online presence:</p>
<p><a href="https://github.com/austin-b">Github</a></p>
<p><a href="https://www.facebook.com/t.austin.b">Facebook</a></p>
<p><a href="https://www.instagram.com/taustinbennett/">Instagram</a></p>
{% endblock %}
