<!doctype html>
<html>
  <head>
    <title>Tom's Blog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/hilite.css') }}" />
    {% block extra_head %}{% endblock %}
    {% block extra_scripts %}{% endblock %}
  </head>

  <body>
    <nav>
      <a id='blog-name' href="{{ url_for('index') }}">Thomas<br>Bennett</a>
      <hr>
      <ul>
        {% if session.logged_in %}
        <li><a href="{{ url_for('drafts') }}">drafts</a></li>
        <li><a href="{{ url_for('create') }}">create entry</a></li>
        <li><a href="{{ url_for('logout') }}">log out</a></li>
        {% endif %}
        {% block extra_header %}{% endblock %}
      </ul>
      {% block search_bar %}
        <form action="{{ url_for('index') }}" id="search-form" method="get" role="search">
            <input name="q" placeholder="Search" type="text" value="{% if search %}{{ search }}{% endif %}">
        </form>
      {% endblock %}
    </nav>

    <main>
      {% for message in get_flashed_messages() %}
        <div class="alert">
          <!-- aria-hidden is used for assistive reader technology to remove irrelevant things -->
          <p>{{ message }}</p>
        </div>
      {% endfor %}

      {% block page_header %}
        <div class="page-header">
          <h2>{% block content_title %}{% endblock %}</h2>
        </div>
      {% endblock %}

      {% block content %}{% endblock %}

      <footer>
        <hr />
        <p>Thomas Bennett - 2021</p>
      </footer>
    </main>
  </body>
</html>
