{% extends "base.html" %}

{% block title %}Create entry{% endblock %}

{% block content_title %}Create entry{% endblock %}

{% block content %}
  <form id='entry-form' action="{% block form_action %}{{ url_for('create') }}{% endblock %}" method="post">
    <div class='form-group'>
      <label for="title">title</label>
      <input id="title" name="title" type="text" value="{% block entry_title %}{% endblock %}">
    </div>
    <label for="content">content</label>
    <textarea id="content" name="content" style="height: 300px;">{% block entry_content %}{% endblock %}</textarea>
    <label>
      <input name="published" type="checkbox" value="y" {% block entry_published %}{% endblock %}> Published?
    </label>
    <div class='form-group'>
      <label for="title">tags</label>
      <input id="tags" name="tags" type="text" value="{% block entry_tags %}{% endblock %}">
    </div>
    <div class='form-group'>
      <button type="submit">{% block save_button %}Create{% endblock %}</button>
      <a href="{% block cancel_button %}{{ url_for('index') }}{% endblock %}">Cancel</a>
    </div>
  </form>
  {% block delete_button %}{% endblock %}
{% endblock %}
