{% extends "base.html" %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content_title %}{{ entry.title }}{% endblock %}

{% block extra_header %}
  {% if session.logged_in %}
    <li><a href="{{ url_for('edit', slug=entry.slug) }}">edit entry</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <p>Created {{ entry.timestamp.strftime('%m/%d/%Y at %I:%M%p') }}</p>
  <p>tags: {% for e in entry.get_tags() %}<a href='{{ url_for('index', t=e) }}'>{{ e }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>
  <hr>
  <div class="entry-detail-content">
    {{ entry.html_content }}
  </div>
{% endblock %}
