{% extends "create.html" %}

{% block title %}Edit entry{% endblock %}

{% block content_title %}Edit entry{% endblock %}

{% block form_action %}{{ url_for('edit', slug=entry.slug) }}{% endblock %}

{% block entry_title %}{{ entry.title }}{% endblock %}

{% block entry_content %}{{ entry.content }}{% endblock %}

{% block entry_published %}{% if entry.published %}checked{% endif %}{% endblock %}

{% block save_button %}Save changes{% endblock %}

{% block cancel_button %}{{ url_for('detail', slug=entry.slug) }}{% endblock %}

{% block delete_button %}
<form id='delete-form' action="{{ url_for('delete', slug=entry.slug)}}" method="post">
    <button type="submit">Delete</button>
</form>
{% endblock %}
