{% extends "base.html" %}

{% block title %}Blog entries{% endblock %}

{% block content_title %}{% if search %}Search "{{ search }}"{% else %}Blog entries{% endif %}{% endblock %}

{% block content %}
  {% for entry in object_list %}
    <h3>
      <a class='index-entry-title' href="{% if entry.published %}{{ url_for('detail', slug=entry.slug) }}{% else %}{{ url_for('edit', slug=entry.slug) }}{% endif %}">
        {{ entry.title }}
      </a>
    </h3>
    <div class="index-entry-info">
      <p>{{ entry.summary }}</p>
      <p class='index-entry-created'>Created {{ entry.timestamp.strftime('%m/%d/%Y at %G:%I%p') }}</p>
      <p>tags: {% for e in entry.get_tags() %}<a href='{{ url_for('index', t=e) }}'>{{ e }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>
    </div>
    {% else %}
    <p>No entries have been created yet.</p>
  {% endfor %}
  {% include "includes/pagination.html" %}
{% endblock %}
